li a {
	color: #6C757D;
}

.headeris {
    margin-top:1vw;
}

.ikona {
    font-size: 5vw;
    color: #55A79A;
}

.title {
    text-align: left;
    margin-bottom: 1em;
    background: url(fonas1.png) right center repeat-x;
    padding: 0;
}

.pirmas {
    background:white;
    width:20vw;
}

.pirmas2 {
    background: white;
    width: 10vw;
}

.phone {
    font-size: 130px;
    color: #55A79A;
}

.rodykle {
    font-size:1.5vw;
   
}

.skambutis {
    font-size:1vw;
}

.langelis {
    z-index: 1;
    overflow: hidden;
    position: relative;
    background: #55A79A;
}

.footeris {
    position: relative;
    background: #292B2C;
}


.paversta {
    position: absolute;
    opacity: 0.5;
    font-size: 150px;
    transform: rotate(30deg);
    margin-left:5vw;
    margin-top:-2vw;
}
 .apacia {
     margin-bottom:2vw;
 }

.inputas1, .inputas2 {
    z-index:10;
}

#pirmasis {
    width:100%;
}

.forma {
    z-index:100;
}

.linija {
    border-bottom: 4px solid white;
}

.nav-link {
    border-right: 1px solid lightgray;
    color:black;
}

.nav-link.active {
    border-left: 5px solid #55A79A;
    color: #55A79A;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-right: none;
}

#apvalus {
    border-radius: 40px;
    margin-top: 0.75vw;
}

.boxas {
    background: #55A79A;
}










